<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #3eabab;">
    <a class="navbar-brand" href="#">NewsApi</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink='/apple' (click)='getApple()'>Apple</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/bitcoin' (click)="getBitcoin()">Bitcoin</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" routerLink='/techcrunch' (click)="getTechcrunch()">Tech Crunch</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink='/headlines' (click)="getHeadlines()">Headlines</a>
          </li>
      </ul>
    </div>
  </nav>